* {
  /* outline: #ff2f61 1px solid; */
}

.main-body-portfolio {

  width: 100%;
  max-width: 1230px;
  height: calc(100vh - 35vh);
  padding: 0px 40px;
  margin: 0 auto;

}

.porfolio-first {

  height: 305px;
  width: 220px;
  background-color: rgb(39, 39, 39);
  margin-left: -3%;
  border-radius: 3px;
}

.porfolio-second {

  height: 305px;
  width: 220px;
  background-color: rgb(39, 39, 39);
  margin-left: -3%;
  border-radius: 3px;
}

.porfolio-third {

  height: 305px;
  width: 220px;
  background-color: rgb(39, 39, 39);
  margin-left: -3%;
  border-radius: 3px;
}


.more-work {
  width: 100%;
  padding-top: 20px;
}

.more-work-text {
  color: #fff;
  font-size: 22px;
  text-align: right;
  cursor: pointer;
}


.copyright-portfolio {
  margin-left: 180px;
  display: flex;
  align-items: center;
  float: right;
}



