* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* outline: #ff2f61 1px solid; */
}

body {

    background-color: #000;
    /* font-family: monospace, Arial, Helvetica, sans-serif; */
    /* font-family: monospace, 'Space Mono'; */
    font-family:'Space Mono', monospace;
}

.nav-bar{

    background-color: #000;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1;
}

.main-menu {

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 0px;
    margin: 0px 80px;
    
}

.nav-links {

    padding-top: 25px;
}
.logo {

    color: #fff;
    font-size: 20px;
    line-height: 28px;
    font-weight: 700;
    margin-left: 142px;
}
.logo a {

    text-decoration: none;
    color: #fff;
}

ul li {

    color: #fff;
    font-size: 17px;
    line-height: 16px;
    font-weight: 700;
    text-decoration: none;
    list-style: none;
    float: left;
    padding-left: 24px;
    padding-right: 24px;
}

ul li a {

    color: #fff;
    text-decoration: none;
}
.contact {

    background-color: #fff;
    margin-left: 20px;
    margin-top: -14px;
    padding: 13px 20px 12px;
    color: #000 !important;
    border-radius: 1px;
}

.social-icons-about {
    position: absolute;
    left: 80px;
    top: 31%;
    display: flex;
    flex-direction: column;
}

.icon-nav {

    color: #fff;
    font-size: 18px;
    margin-bottom: 30px;
}

.icon-nav:hover {
    
    transform: translateY(-8px);
    transition: 0.5s;
}

.main-body-about {

    width: 100%;
    max-width: 1230px;
    height: calc(100vh - 120px);
    padding: 0px 40px;
    margin: 0 auto;

}

.hero-section-about {

    position: relative;
    top: 110px;
    bottom: 0;
    left: 0;
    right: 0;

}

.hero-line {

    height: 6px;
    width: 80px;
    background-color: #fff;
    margin-bottom: 20px;
}

.hero-text {

    color: #fff;
    font-size: 56px;
    line-height: 64px;
    font-weight: 700;
    margin-bottom: 40px;
}

.hero-para {

    color: #fff;
    font-size: 20px;
    line-height: 32px;
}

/* .hero-scroll {

    position: absolute;
    left: 218px;
    bottom: 0;
    display: flex;
    align-items: center;

} */
.line {

    height: 70px;
    width: 3px;
    background-color: #fff;
    
}

/* .hero-scroll-text a {

    color: #fff;
    font-size: 18px;
    line-height: 32px;
    font-weight: 400;
    margin-left: 20px;
    text-decoration: none;
    
} */

.color {

    color: orangered;
    animation-name: example;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

@keyframes example {
    0%   {color: #0ff8df;}
    25%  {color: #fec32c;}
    50%  {color: #b923ff;}
    100% {color: #ff2f61;}
  }


.skills span {
    background: #4b5769;
    margin-right: 5px;
    margin-top: 5px;
    border-radius: 1px;
    padding: 3px 10px;
    font-size: 13px;
    height: 26px;
  }
.icon-about-stack {

    font-size: 70px;
    color: #b923ff;
}

.icon-about-stack:hover {
    color: #fff;
}

.tech-stack {

    height: 145px;
    width: 150px;
    background-color: rgb(39, 39, 39);
    margin-left: 10px;
}